*
{
  font-family: sans-serif;
}

#flexbox1
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: row-reverse;

    margin: 10px;
    border: 1px solid gray;
    min-height: 300px;
}

#flexbox1 > div{
  min-width: 80px;
  min-height: 80px;
  border: 1px solid blue;
  margin: 2px;
}

#flexbox1 > div:first-child{
  background-color: orange;
  flex: 1;
}
#flexbox1 > div:nth-child(2){
  background-color: crimson;
  flex: 1.5;
}
#flexbox1 > div:nth-child(3){
  background-color: green;
  flex: auto;
}
